@import "additional.styl"

@media $md
	@import "middle.styl"

@media $sm
	@import "tablet.styl"

@media $xs
	@import "mobile.styl"

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg 
	display: none !important;

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block 
	display: none !important;
	
@media $lg
	.visible-lg
		display: block !important;

	table.visible-lg
		display: table !important;

	tr.visible-lg
		display: table-row !important;

	th.visible-lg,
	td.visible-lg
		display: table-cell !important;

@media $lg
	.visible-lg-block
		display: block !important;

@media $lg
	.visible-lg-inline
		display: inline !important;

@media $lg
	.visible-lg-inline-block
		display: inline-block !important;

@media $lg
	.hidden-lg
		display: none !important;

@media $md
	.visible-md
		display: block !important;
	
	table.visible-md
		display: table !important;
	
	tr.visible-md
		display: table-row !important;
	
	th.visible-md,
	td.visible-md
		display: table-cell !important;

@media $md
	.visible-md-block
		display: block !important;

@media $md
	.visible-md-inline
		display: inline !important;

@media $md
	.visible-md-inline-block
		display: inline-block !important;

@media $md
	.hidden-md
		display: none !important;

@media $sm
	.visible-sm
		display: block !important;

	table.visible-sm
		display: table !important;

	tr.visible-sm
		display: table-row !important;

	th.visible-sm,
	td.visible-sm
		display: table-cell !important;

@media $sm
	.visible-sm-block
		display: block !important;

@media $sm
	.visible-sm-inline
		display: inline !important;

@media $sm
	.visible-sm-inline-block
		display: inline-block !important;

@media $sm
	.hidden-sm
		display: none !important;

@media $xs
	.visible-xs 
		display: block !important;
	
	table.visible-xs 
		display: table !important;
	
	tr.visible-xs 
		display: table-row !important;
	
	th.visible-xs,
	td.visible-xs 
		display: table-cell !important;

@media $xs
	.visible-xs-block 
		display: block !important;

@media $xs
	.visible-xs-inline 
		display: inline !important;

@media $xs
	.visible-xs-inline-block 
		display: inline-block !important;
	
@media $xs
	.hidden-xs
		display: none !important;
