.iblocks-justify
	text-align: justify
	> *
		display: inline-block
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0;
		font-size: 0
		overflow: hidden

ul
	&.no-styled
		margin: 0
		padding: 0
		list-style: none
		> li
			list-style: none
	&.inline-container
		font-size: 0
		> li
			display: inline-block
			font-size: 1rem

a
	outline: none !important


.rel
	position: relative

.full-width
	width: 100%
.full-height
	height: 100%

.responsive-img
	max-width: 100%

.full-responsive-img
	max-width: 100%
	max-height: 100%

.width-fluid-img
	width: 100%

.inline-container
	font-size: 0 !important
	> *
		display: inline-block
		font-size: 1rem
		vertical-align: top
		&.w100
			width: 100%
		&.w50
			width: 50%
		&.w33
			width: 33.33%
		&.w33-2
			width: 66.66%
		&.w25
			width: 25%
		&.w25-3
			width: 75%
		&.w20
			width: 20%
		&.w20-2
			width: 40%
		&.w20-3
			width: 60%
		&.w20-4
			width: 80%

.nowrap
	white-space: nowrap

.ib
	display: inline-block
.dt
	display: table
.dtc
	display: table-cell

.vam
	vertical-align: middle
.vat
	vertical-align: top
.vab
	vertical-align: bottom

.vam-container
	font-size: 0
	&:before
		content: ""
		width: 0
		height: 100%
		display: inline-block
		vertical-align: middle
	> *
		font-size: 1rem

.gw
	overflow: hidden
	&:after, &:before
		content: " ";
		display: table;
	&:after
		clear: both;
	&.visible
		overflow: visible
.gr
	margin: 0 -10px !important
.gc
	padding: 0 10px
	float: left
.g1col
	width: 100%
.g2col
	width: 50%
.g3col
	width: 33.33%
.g4col
	width: 25%
.g3-4col
	width: 75%
.g5col
	width: 20%
.g6col
	width: 16.66%
.g5-6col
	width: 83.33%

.fl
	float: left
.fr
	float: right

.tac
	text-align: center
.tar
	text-align: right
.tal
	text-align: left

.ttu
	text-transform: uppercase

.mt0
	margin-top: 0 !important
.mt10
	margin-top: 10px !important
.mt20
	margin-top: 20px !important
.mt30
	margin-top: 30px !important
.mt40
	margin-top: 40px !important
.mt50
	margin-top: 50px !important
.mb0
	margin-bottom: 0 !important
.mb10
	margin-bottom: 10px !important
.mb20
	margin-bottom: 20px !important
.mb30
	margin-bottom: 30px !important
.mb40
	margin-bottom: 40px !important
.mb50
	margin-bottom: 50px !important
.mr0
	margin-right: 0 !important
.mr10
	margin-right: 10px !important
.mr20
	margin-right: 20px !important
.mr30
	margin-right: 30px !important
.mr40
	margin-right: 40px !important
.mr50
	margin-right: 50px !important
.ml0
	margin-left: 0 !important
.ml10
	margin-left: 10px !important
.ml20
	margin-left: 20px !important
.ml30
	margin-left: 30px !important
.ml40
	margin-left: 40px !important
.ml50
	margin-left: 50px !important
.m0
	margin: 0 !important
.m10
	margin: 10px !important
.m20
	margin: 20px !important
.m30
	margin: 30px !important
.m40
	margin: 40px !important
.m50
	margin: 50px !important
.pt0
	padding-top: 0 !important
.pt10
	padding-top: 10px !important
.pt20
	padding-top: 20px !important
.pt30
	padding-top: 30px !important
.pt40
	padding-top: 40px !important
.pt50
	padding-top: 50px !important
.pb0
	padding-bottom: 0 !important
.pb10
	padding-bottom: 10px !important
.pb20
	padding-bottom: 20px !important
.pb30
	padding-bottom: 30px !important
.pb40
	padding-bottom: 40px !important
.pb50
	padding-bottom: 50px !important
.pr0
	padding-right: 0 !important
.pr10
	padding-right: 10px !important
.pr20
	padding-right: 20px !important
.pr30
	padding-right: 30px !important
.pr40
	padding-right: 40px !important
.pr50
	padding-right: 50px !important
.pl0
	padding-left: 0 !important
.pl10
	padding-left: 10px !important
.pl20
	padding-left: 20px !important
.pl30
	padding-left: 30px !important
.pl40
	padding-left: 40px !important
.pl50
	padding-left: 50px !important
.p0
	padding: 0 !important
.p10
	padding: 10px !important
.p20
	padding: 20px !important
.p30
	padding: 30px !important
.p40
	padding: 40px !important
.p50
	padding: 50px !important



.media {
	margin-top: 15px;
}
.media:first-child {
	margin-top: 0;
}
.media,
.media-body {
	overflow: hidden;
	zoom: 1;
}
.media-body {
	width: 10000px;
}
.media-object {
	display: block;
}
.media-object.img-thumbnail {
	max-width: none;
}
.media-right,
.media > .pull-right {
	padding-left: 10px;
}
.media-left,
.media > .pull-left {
	padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
	display: table-cell;
	vertical-align: top;
}
.media-middle {
	vertical-align: middle;
}
.media-bottom {
	vertical-align: bottom;
}
.media-heading {
	margin-top: 0;
	margin-bottom: 5px;
}
.media-list {
	padding-left: 0;
	list-style: none;
}