html, body
	font-family: $ff
	font-weight: 400
	font-size: ($rem)px
	position: relative
	color: $cGrey

html
	height: 100%;
body
	min-height: 100%;

.page-wrap
	min-height: 100%
	margin: 0 auto -269px
	position: relative
	@media $sm
		margin: 0 auto -227px
	.tiny-head &
		margin-top: 134px
	&:after
		content: ""
		display: block
		height: 269px
		@media $sm
			height: 227px

#full-page-wrapper
	margin: 0 auto

#main-footer
	height: 269px
	overflow: hidden
	@media $sm
		height: 227px
